body{
  background-color: gray;
}
.container {
  margin-top: 20px;
  box-shadow: 20px;
  background-color: #E3E8F8;
  
    > .row {
      > .col-3{
        padding-left: 0px;
      }
      > .col-9{
        padding: 0px;

        > .row{
          > Inputs{
            margin-top: 30px;
          }
        }
      }
    }
  }